body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.meter {
    height: 10px;
    width: 100%;
    background: #555;
    border-radius: 5px;
    margin-top: 10px;
}

#strength-bar {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    transition: width 0.3s;
}

#strength-text {
    margin-top: 10px;
    font-weight: bold;
}

#suggestions {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
